.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.burger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 700px) {
  
  .burger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background: white;
  }

  .menu.show {
    display: flex;
  }
}